#Remove QtCreator files
trunk/debug
trunk/qtc-gdbmacros
trunk/release
trunk/*.txt~
trunk/Makefile*
trunk/*.pro.user
trunk/*.so



#Remove compiled files
libxqdebase

#Remove dolphin files
.directory

#Remove temp files
*.*~

#Remove object files
moc_*.*
*.o
ui_*.*
*.*so